body {
    background-color: #010e1e;
    font-family: "Jost", sans-serif;
}

p.page-one {
    font-size: 4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(19, 19, 19);
    border: #ffffff;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 70%; 
    margin: 0 auto; 
    text-align: center; 
}

.container {
    margin: 0 auto; 
    border: #ffffff;
    text-align: center; 
    padding: 0; 
    width: 40%;
}

img.align-center {
    display: block;
    width: 20%; 
    margin-left: auto;
    margin-right: auto;
    top: 10px;
    height: auto; 
    border: none; 
    transition: transform 0.3s ease-in-out; /* Smooth scaling effect */
    cursor: pointer; /* Indicate that the logo is clickable */
}

img.align-center:hover {
    transform: scale(1.1); /* Enlarge the logo on hover */
}

img.small {
    height: auto;
    border: none;
}

img.medium {
    width: 70%;
    height: auto;
    border: none;
}

img.large {
    width: 100%;
    height: 100%;
    border: none;
}



.game-modes {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: center;
    gap: 20px; 
    margin-top: 20px; 
    text-align: center;
}

.mode-row {
    width: 25%; 
    padding: 20px; 
    border: 2px solid #333; 
    border-radius: 20px; 
    color: #171918;
    display: flex; 
    font-size: 3rem; 
    justify-content: center;
    align-items: center;
    text-align: center; 
    transition: transform 0.5s; 
    height: 30rem;
}

.mode-name {
    margin-top: 15rem;
    color:#15d760;
    background-color:#010e1e;
    padding: 1rem 3rem;
    border-radius: 50px;
    transition: transform 0.5s; 

}

#row1 {
    background-image: url('Images/TheWeekndBackground.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

#row2 {
    background-image: url('Images/Backround-Image.jpg');
    background-size: 350%;
    background-repeat: no-repeat;
}


#row3 {
    background-image: url('Images/guitar.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    
}


.mode-name:hover, .mode-row:hover {
    transform: scale(.95); 
    cursor: pointer;  
    box-shadow: darkgreen;
}