
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    background-color: #010e1e;
    color: white;
}



html, body {
    height: 100%;
    margin: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue; 
}

/* Game container */
#game {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    width: 100vw; 
}


#game-board {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    width: 100%; 
}




#left-artist-container, #right-artist-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    height: 100%; 
    overflow: hidden;

}

#left-artist {
    background-image: none;
    font-size: x-large;
}
#right-artist {
    background-image: none;
    font-size:x-large;
}


#left-artist, #right-artist {
    text-align: center;
    margin: 20px;
}


#left-artist-image, #right-artist-image {
    width: 350px; 
    height: 350px; 
    display: flex;
    object-fit:cover; 
    border-radius: 20px; 
    border: 4px solid lightgreen; 
    background-color: black;
    
}

#left-artist {
    margin-bottom: 10px;
}


/* Button styling for guess buttons */
#button-container {
    display: flex;
    justify-content: flex-end;
}

.guess-btn-up {
    background-image: url('Icons/greenArrow.png');
}

.guess-btn-down {
    background-image: url('Icons/redArrow.png');
}

.guess-btn-up, .guess-btn-down {
    margin: 10px;
    padding: 10px 60px 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: black;
    color: white;
    font-weight: bold;
    background-size: 30%;
    background-position: right;
    background-repeat: no-repeat;
   
}


#result-container {
    width: 10%; 
    display: flex;
    justify-content: center;
    align-items: center;
}


#result-gif {
    max-width: 100%;
    height: auto;
    display: hidden;
}


header {

    padding: 0px 0; 
    margin: 0;
    text-align: center; 
    position: fixed; 
    top: 0;
}


header .logo {
    width: 250px; 
    height: auto;
    cursor: pointer; 
    transition: transform 0.3s ease-in-out; 
}

header .logo:hover {
    transform: scale(1.1); 
}


#score-container {
    position: fixed;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
}

#high-score {
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

#current-score {
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.artist-streams {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px; /* Space between the streams count and the image */
}